.book{
  .book-search{
    z-index: 1000;
    position: fixed;
    top: 44px;
    left: 0;
    background: #FFF;
  }

  .book-scroll{
    top: 97px;
    .book-list{
      width: 100%;
      .book-item{
        display: flex;
        height: 150px;
        border-bottom: 1px dashed #ddd;
        .book-logo{
          flex: 0 0 90px;
          img{
            display: block;
            margin: 15px 0 0 10px;
            width: 90px;
            height: 120px;
          }
        }
        .book-desc{
          flex: 1;
          padding: 0 15px;
          .title{
            margin-top: 15px;
            color: #3377aa;
            cursor: pointer;
            font-size: 14px;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            .subTitle{
              font-size: 12px;
            }
          }
          .author{
            margin-top: 15px;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
          }
          .price{
            margin-top: 15px;
            color: red;
          }
        }
      }
    }
  }
}

