.music{
  .audio{
    width: 100%;
    position: fixed;
    top: 44px;
  }
  .book-search{
    position: fixed;
    top: 96px;
    left: 0;
    background: #FFF;
    border-top: 1px solid #387ef5;
  }
  .book-scroll{
    border-top: 1px solid #387ef5;
    top: 149px;

  }
}
